<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<h1>welcome to buch finder</h1>
		<form action="/" method="POST">
			<label for="book-title">Book's Title</label>
			<input type="text" id="book-title" name="book-title">
			<br>
			<label for="book-author">Book's author name</label>
			<input type="text" id="book-author" name="book-author">
			<br>
			<input type="submit" name="search-book" value="Search Book">
		</form>
	</body>
</html>
